page-noticia-detalle {
    .title {
        font-weight: bold;
        font-size: 20px;
    }
    .pubDate {
        color: #488aff;
    }
    .img {
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
